body {
  font-family: 'Oswald', sans-serif;
}

* {
  box-sizing: border-box;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.main-header__title {
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 475px;
}

.score {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 26px;
}

.score__current,
.score__best {
  color: #ffffff;
  background-color: #bbada0;
  border-radius: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.score__current {
  margin-right: 15px;
}
.btn {
  color: #ffffff;
  background-color: #8f7a66;
  border: none;
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 5px;
  font-size: 22px;
  line-height: 22px;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.5;
}
.main-header__new-game-btn {
  display: block;
  width: 100%;
}

.game {
  height: 475px;
  box-sizing: border-box;
  background-color: #bbada0;
  border-radius: 8px;
  padding: 15px;
  box-sizing: border-box;
  position: relative;
}

.game-grid {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
}

.game-grid__cell {
  width: 100px;
  height: 100px;
  background-color: rgba(238, 228, 218, 0.35);
  border-radius: 8px;
}

.game-board {
  position: absolute;
  left: 15px;
  top: 15px;
  right: 15px;
  bottom: 15px;
}
